a:hover {
  text-decoration: none !important;
}

/* Navbar and links */
.nav-link {
  color: $light-blue !important;
}

/* Headers and sub-headers */

.heading {
  color: $primary-color;
  text-align: center;
  font-size: 1.5rem;
}
