/*
    CSS Color variables as per theme
*/

$primary-color: #3F51B5;
$secondary-color: #ACACAC;
$dark-color: #161616;
$light-blue: #EAECF7;
$light-color: #F5F5F5;
$orange-color: #FFBF51;

/* Colors for icons and borders, dark color would also be used for icon */

$gray-icon-color: #BFBFBF;
$border-color: #BFBFBF;

/* Colors for folders, orange color would also be used */

$red-color: #FF5151;
$violet-color: #C051FF;
$light-blue-folder: #5197FF;
$dark-blue-folder: #5F69CB;

/* Global font-weight, family and sizes */

$custom-font-weight: 500;
$custom-font-family: Verdana, Arial, Tahoma, Serif;
$custom-font-size: 14px;
